@model Model.EF.FARMER

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Farmer/Views/Shared/_Layouts.cshtml";
}

<head>
    <title>Create Farmer</title>
</head>

<div class="card">

    <div class="card-header card-header-color">
        <h5>Tạo mới thông tin chủ trang trại</h5>
    </div>

    <div class="card-body card-body-color">
        <div class="container">
            @using (Html.BeginForm("Create", "Farmer", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-10" style="margin:auto;">


                    <div class="form-group">
                        <label for="ten">Tên:</label>
                        <input type="text" class="form-control" id="ten" name="Name_Farmer">
                    </div>

                    <div class="form-group">
                        <label for="ngaySinh">Ngày sinh:</label>
                        <input type="date" class="form-control" id="ngaySinh" name="Birthday_Farmer">
                    </div>

                    <div class="form-group">
                        <label>Giới tính: </label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="true" name="Gender_Farmer"> Nam
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="false" name="Gender_Farmer"> Nữ
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="diachi">Địa chỉ:</label>
                        <input type="text" class="form-control" id="diachi" name="Address_Farmer">
                    </div>

                    <div class="form-group">
                        <label for="sdt">Điện thoại:</label>
                        <input type="text" class="form-control" id="sdt" name="Telephone_Farmer">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" name="Email_Farmer">
                    </div>

                    <!--S.Image-->
                    <div class="form-group">
                        <label for="anhDaiDien">Ảnh đại diện</label>
                        <input type="file" class="form-control-file" onchange="readURL(this);" id="anhDaiDien" name="ImageFile">
                        <img style="max-width:180px; max-height:180px" id="blah" src="http://placehold.it/180" alt="your image" />
                    </div>
                    <!--E.Image-->

                    <button align="center" class="btn brown" type="submit">Xác nhận</button>

                </div>
            }
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!--S.Scripts For Image-->
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<!--E.Scripts For Image-->
