@*@{
        Layout = "~/Areas/Farmer/Views/Shared/_Layouts.cshtml";
    }*@

<head>
    <title>ChartJS</title>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        #chart_container {
            width: 500px;
            height: 400px;
            padding: 1px;
        }
    </style>
</head>

<body>
    <div id="chart_container">
        <canvas id="bar_chart"></canvas>

        <script>
            var productNames =@Html.Raw(Json.Encode(ViewBag.PRODUCTNAMES));
            var repArray = @Html.Raw(Json.Encode(ViewBag.REP));
            var quantity = @Html.Raw(Json.Encode(ViewBag.QUANTITY));

            var ctx = $("#bar_chart");
            var barChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: productNames,
                    datasets: [
                        {
                        label: "Số lượng",
                        fill: false,
                        data: repArray,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        boderWidth: 1
                    },
                        {
                            label: 'Khối lượng',
                            fill: false,
                            data: quantity,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            boderWidth: 1
                        }]
                },

                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Nhu cầu bán trên thị trường'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Product Names'
                            },
                            ticks: {
                                beginAtZero: false
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Value'
                            },
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            });
        </script>
    </div>
</body>